*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===nav= */
body{
    background-color: #F4F7FF;
    padding: 2rem;
    font-family: "Poppins", sans-serif;
}
.nav-inner{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 12px 15px;
    border-radius: 16px;
}
.nav-left-logo{
    display: flex;
    align-items: center;
}
.logo-title p{
    font-size: 30px;
}
.logo-bold{
    font-weight: 700;
}
.nav-left-logo .logo-image{
    margin-right: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.nav-right-elements{
    display: flex;
    align-items: center;
}
.left-count{
    display: flex;
}
.nav-right-elements .left-count{
    background-color: #F4F7FF;
    padding: 8px 20px;
    border-radius: 50px;
    align-items: center;
}
.nav-right-elements .left-count img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.nav-right-elements .left-count h1{
    font-size: 30px;
}
nav .right-button img{
    margin-left: 30px;
    width: 60px;
    height: 60px;
    background-color: #F4F7FF;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}
nav .right-button img:hover{
    padding: 10px;
}

.body-inner{
    width: 80%;
    margin: 0 auto;
}

.body-inner h2{
    text-align: center;
    font-weight: 600;
    margin: 30px;
}

.question-box{
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    margin-bottom: 20px;
}
.question{
    border-bottom: 1px dashed rgba(55, 82, 253, 0.2);
}
.question h4{
    padding-bottom: 10px;
    font-weight: 700;
}
.ans p{
    padding-top: 20px;
    font-weight: 300;
}