*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #F4F7FF;
    padding: 2rem;
    font-family: "Poppins", sans-serif;
}
.nav-inner{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 12px 15px;
    border-radius: 16px;
}
.nav-left-logo{
    display: flex;
    align-items: center;
}
.logo-title p{
    font-size: 30px;
}
.logo-bold{
    font-weight: 700;
}
.nav-left-logo .logo-image{
    margin-right: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.nav-right-elements{
    display: flex;
    align-items: center;
}
.left-count{
    display: flex;
}
.nav-right-elements .left-count{
    background-color: #F4F7FF;
    padding: 8px 20px;
    border-radius: 50px;
    align-items: center;
}
.nav-right-elements .left-count img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.nav-right-elements .left-count h1{
    font-size: 30px;
}
nav .right-button img{
    margin-left: 30px;
    width: 60px;
    height: 60px;
    background-color: #F4F7FF;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}
nav .right-button img:hover{
    padding: 10px;
}
/* ============body area====== */

.body-area{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.body-left-area{
    background-color: #fff;
    padding: 15px;
    border-radius: 16px;
}
.body-left-area{
    width: 75%;
}
.body-right-area{
    width: 25%;
}
.body-top-items{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    border-bottom: 2px dashed rgba(55, 82, 253, 0.2);
    padding-bottom: 20px;
}
.body-top-items-left{
    display: flex;
    background-color: #F4F7FF;
    align-items: center;
    padding: 8px 10px;
    border-radius: 12px;
    width: 25%;
}
.body-top-items-left p{
    font-size: 12px;
}
.body-top-items-left img{
    width: 40px;
    height: 40px;
    background-color: white;
    padding: 8px;
    border-radius: 50%;
    margin-right: 10px;
}
.body-top-items-middle{
    display: flex;
    width: 50%;
    align-items: center;
    background-image: linear-gradient(to right, #3752FD, #6C7FFA, #9BA8F8);
    border-radius: 12px;
    padding: 8px 20px;
    cursor: pointer;
}
.body-top-items-middle:hover{
    background-image: linear-gradient(to left, #3752FD, #6C7FFA, #9BA8F8);
}
.body-top-items-middle img{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.body-top-items-middle p{
    color: white;
}
.body-top-items-right{
    display: flex;
    background-color: #F4F7FF;
    align-items: center;
    padding: 8px 10px;
    border-radius: 12px;
    width: 25%;
}
.body-top-items-right p{
    font-size: 12px;
}
.body-top-items-right img{
    width: 40px;
    height: 40px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.body-bottom-items{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.body-bottom-items-box{
    background-color: #F4F7FF;
    padding: 15px;
    border-radius: 16px;
}
.body-bottom-items-box .top-btn{
    background-color: white;
    padding: 8px 10px;
    border-radius: 8px;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 10px;
}
.body-bottom-items-box .box-head{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.body-bottom-items-box .text-area{
    background-color: white;
    padding: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 14px;
}
.body-bottom-items-box-bottom{
    display: flex;
    justify-content: space-between;
    border-top: 1px dashed rgba(55, 82, 253, 0.2);
    padding-top: 20px;
    align-items: center;
}
.box-date p{
    color: #00303C;
    margin-bottom: 5px;
    font-size: 12px;
}
.box-date h4{
    font-weight: 500;
    font-size: 16px;
}
.box-btn button{
    border: none;
    padding: 8px 12px;
    background-color: #3752FD;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

/* =========body right==== */
.body-right-area{
    background-color: white;
    border-radius: 16px;
    text-align: center;
    padding: 15px;
}
.body-right-area-top-tittle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.body-right-area-top-tittle img{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
.body-right-area-top-tittle h4{
    font-weight: 500;
}
.clear-button button{
    border: none;
    padding: 8px 12px;
    background-color: #3752FD;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}
.body-right-area-inner{
    border-bottom: 2px dashed rgba(55, 82, 253, 0.2);
    padding-bottom: 16px;
}

#history{
    text-align: left;
}

#history p{
    padding: 15px;
    background-color: #F4F7FF;
    margin: 20px 0px;
    border-radius: 8px;
}
